iframe {
   display: block;
	 width: 100px;
	 height: 50px;
}

.frame{
    padding: 50px 15px;
    text-align: center;
}

.video{
    height:33.75vw;
    width:60vw;
    margin: 15px auto 15px auto;
}
.document{
    height:44vw;
    width:40vw;
    margin: 15px auto 15px auto;
}

@media only screen and (max-width: 768px) {
    .document{
      height:84.8671vw;
      width:60vw;
    }
}

@media only screen and (max-width: 480px) {
    .document{
      height:113.1429vw;
      width:80vw;
    }
}
